body {
  font-family: "Roboto", sans-serif;
  color: #000000;

}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.conteiner {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

/* ХЕЛПЕРЫ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Размеры */
.large-size {
  flex-basis: 100%;
}

.medium-size {
  flex-basis: calc((100% - 30px) / 2);
}

.small-size {
  flex-basis: calc((100% - 60px) / 3);
}

/* Цвета */
.product-card.product-card--bisque {
  background-color: bisque;
}

.product-card.product-card--slateblue {
  background-color: slateblue;
}

/* Блоки и элементы */

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.products-group {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.product-card {
  display: block;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;

  background-color: cadetblue;

  transition: transform 250ms linear;
 
}

.product-card:hover, .product-card:focus {
transform: scale(1.05);
}

.product-card__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card__image {
  display: block;
  max-width: 100%;
  height: auto;

  margin-bottom: 30px;
}

.product-card__title {
  margin-bottom: 30px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.product-card__decription {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
